PROGRAMACION/MARCAS/segundo trimestre/XSD/Trabajo marcas/DonantesSangre.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="channel">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="title" type="xs:string" />

        <xs:element maxOccurs="unbounded" name="link">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:anyURI">
                <xs:attribute name="href" type="xs:string" use="optional" />
                <xs:attribute name="rel" type="xs:string" use="optional" />
                <xs:attribute name="type" type="xs:string" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="description" type="xs:string" />
        <xs:element name="lastBuildDate" type="xs:string" />
        <xs:element name="language" type="xs:string" />

        <xs:element name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string" />
              <xs:element name="description" type="xs:string" />
              <xs:element name="link" type="xs:string" />
              <xs:element name="pubDate" type="xs:string" />
              <xs:element name="creator" type="xs:string" />
              <xs:element name="guid">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="isPermaLink" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
